body {
    background-color: black;
    color: white;
    text-align: center;
}

.div2 {
    width: 70%;
    margin: auto;
    font-size: 25px;
}

.div1 a:hover {
    text-decoration: none;
}

.div1 a {
    color: yellow;
}

.div1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.a1::after {
    content: '';
    background-image: url(../img/linking);
    background-repeat: no-repeat;
    background-position: 100%;
    width: 25px;
    height: 25px;
    object-fit: cover;
    display: inline-block;
}

.a2::after {
    content: '';
    background-image: url(../img/file);
    background-repeat: no-repeat;
    background-position: 100%;
    width: 25px;
    height: 25px;
    object-fit: cover;
    display: inline-block;
}

.a3::before {
    content: '';
    background-image: url(../img/letter);
    background-repeat: no-repeat;
    background-position: 100%;
    width: 25px;
    height: 25px;
    object-fit: cover;
    display: inline-block;
}

.a4::before {
    content: '';
    background-image: url(../img/phone);
    background-repeat: no-repeat;
    background-position: 100%;
    width: 25px;
    height: 25px;
    object-fit: cover;
    display: inline-block;
}

.a5::before {
    content: '';
    background-image: url(../img/message);
    background-repeat: no-repeat;
    background-position: 100%;
    width: 25px;
    height: 25px;
    object-fit: cover;
    display: inline-block;
}