.box {
    height: 95vh;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div {
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div1 {
    height: 98%;
    width: 33%;
    background-color: black;
}

.div2 {
    height: 98%;
    width: 33%;
    background-color: rgb(255, 234, 0);
}

.div3 {
    height: 98%;
    width: 33%;
    background-color: rgb(255, 0, 0);
}